<!-- <app-addcart></app-addcart> -->

<!-- <app-user-details></app-user-details>
<hr> -->
<app-list-products></app-list-products>
<hr>
<!-- <app-dynamicpage></app-dynamicpage> -->

<!-- <app-custompipes></app-custompipes> -->
<!-- <app-activeproduct></app-activeproduct> -->
<!-- <app-api-call-parent></app-api-call-parent> -->
<!-- <app-dynamiccontrols></app-dynamiccontrols> -->
<!-- <app-add-products></app-add-products> -->
<!-- <app-user-list></app-user-list> 
<app-add-user></app-add-user> -->

