<div class="container">
   <div class="row weather_style">
       <div class="col-sm-12" style="text-align: center;">
           <h1>Weather</h1>
       </div>
   </div>

   <br><br>
   <div class="row">
       <div class="col-sm-1"></div>
       <div class="col-sm-10 search_city">
           <br>
        <div class="row" style="text-align: center;font-size: large;">
            Search City
            <br>
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="Search"  #cityname>
            </div>
            <br>
            <br>
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" (click) = "searchCity(cityname.value)">Search</button>
            </div>
            
        </div>
       </div>
   </div>
   <br>
   <ng-container *ngIf="result">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 weather_details" style="text-align: center;">
          <p>City Name: {{CityName}}</p>
          <br>
          <p>Country:{{Country}}</p>
          <br>
          <p>Tempreature in Celsius: {{Tempreture}}</p>
          <br>
          <p>Humidity:{{Humdity}}</p> 
        </div>
    </div>
   </ng-container>

   <ng-container *ngIf="failure">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 weather_details_failure" style="text-align: center;">
            <br><br>
          <p>Entered City Name can't be Found, please try with proper City Name</p>
        </div>
    </div>
   </ng-container>

    
</div>
