<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" (click)="whether()">
            <img src="../../assets/img/whether.png" style="width:100%">
            <div class="container">
                <h4><b><span>Weather Condition</span> </b></h4>
            </div>
         </div> 
      </div>
      <div class="col-sm-6">
        <div class="card" (click)="news()">
            <img src="../../assets/img/news.png" style="width:100%">
            <div class="container">
                <h4><b><span>News Report</span> </b></h4>
            </div>
         </div>  
      </div>
    </div>