<!-- <h1>2.List of Products</h1>
<ul>
<li *ngFor= "let products of Product_List; index as i; odd as o" [ngClass]="{'BackGroundColor': i>3}"
    [ngStyle] = "{'color':i>8? 'yellow':'black'}" >
 {{i+1}} {{products}}
</li>
</ul><br>
<span style="color: black;">{{error_msg}}</span><br><br>
<span>Add Product</span> &nbsp; <input type="text" #prod (keypress) = "Toggle_enable(prod.value)"><br><br>
<button type="button" (click) = "addProducts(prod.value)">Add Products</button> -->

Array 1:{{Product_List}}



